{% extends 'mailings/mailings_base.html' %}


{% block content %}
    <div class="col-3">
        <form method="post" id="mailings_filter_form">
            {% csrf_token %}

            <div class="mb-3">
                <label for="mailing" class="form-label">Рассылка</label>
                <select class="form-select" id="mailing" name="mailing" form="mailings_filter_form" required>
                    <option value="0">Все</option>
                    {% for mailing in mailings %}
                        <option value="{{ mailing.pk }}"
                                {% if mailing.pk == selected_mailing_pk %}selected{% endif %}>{{ mailing.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <input class="btn btn-light" type="submit" value="Фильтровать">
        </form>
    </div>


    <div class="table-responsive small">
        <table class="table table-striped table-sm">
            <thead>

            <tr>
                <th scope="col">Время</th>
                <th scope="col">Клиент</th>
                <th scope="col">Рассылка</th>
                <th scope="col">Статус</th>
            </tr>
            </thead>
            <tbody>

            {% for object in object_list %}
                <p>{{ object.email }}</p>
                <tr>
                    <td>{{ object.time }}</td>
                    <td>{{ object.client }}</td>
                    <td>{{ object.mailing }}</td>
                    <td>{{ object.get_status_display }}</td>
                </tr>


            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}